In [1]:
#Para vizualizar los archivos importamos pandas como pd
import pandas as pd

# 1. TIEMPO
La primera categoría TAM a visualizar corresponde a la de tiempo. Esta se compone de tres rasgos lingüísticos: tiempo presente, tiempo pasado y tiempo futuro.

In [2]:
#definimos una lista llamada tense_present que contendrá la lectura del archivo con los datos de tiempo presente
tense_present = pd.read_csv('tense_present.csv',sep=',',encoding='iso-8859-1')

# 1.1 Tiempo Presente

In [3]:
#visualizamos la lista tense_present
tense_present[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna     N          no  -5.300440 -77.921790    Chicham
1       apu       Apurinã     N          no  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco     N          no  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer     N          no   1.216525 -78.340135  Barbacoan
4       brg         Baure     N          no -13.127750 -64.183810   Arawakan

In [4]:
len(tense_present)

64

In [5]:
#visualizamos las columnas del archivo en forma de lista
list(tense_present.columns)

['iso-639-3',
 'name',
 'value',
 'description',
 'latitude',
 'longitude',
 'family']

In [6]:
#visualizamos únicamente dos columnas de tense_present (name y value)
tense_present[['name','value']][:5]

           name value
0      Aguaruna     N
1       Apurinã     N
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure     N

In [7]:
#definimos una nueva lista llamada value_name que contendrá solo las columnas 'name' y 'value'
value_name_present = tense_present[['name','value']]

In [8]:
value_name_present[:5]

           name value
0      Aguaruna     N
1       Apurinã     N
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure     N

In [9]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
dict_present = dict(zip(value_name_present['name'], value_name_present['value']))

In [10]:
dict_present

{'Aguaruna': 'N',
 'Apurinã': 'N',
 'Arhuaco': 'N',
 'Awa-Cuaiquer': 'N',
 'Baure': 'N',
 'Bora': 'N',
 'Bororo': 'N',
 'Canela': 'N',
 'Cavineña': 'N',
 'Central Aymara': 'AFF',
 'Chimila': 'N',
 'Cocama-Cocamilla': 'N',
 'Cubeo': 'AFF',
 'Cusco Quechua': 'N',
 'Desano': 'AFF',
 'Dâw': 'N',
 'Emerillon': 'N',
 'Hixkaryána': 'AFF',
 'Huallaga Huánuco Quechua': 'N',
 'Hupdë': 'N',
 'Imbabura Highland Quichua': 'N',
 'Itonama': 'N',
 'Jamamadí': 'N',
 'Kaingang': 'N',
 'Kamayurá': 'N',
 'Kanoê': 'N',
 'Karitiâna': 'AFF',
 'Karo (Brazil)': 'N',
 'Kwaza': 'N',
 'Leco': 'AFF',
 'Mamaindé': 'AFF',
 'Mapudungun': 'N',
 'Matsés': 'AFF',
 'Mocoví': 'N',
 'Mosetén': 'N',
 'Movima': 'N',
 'Muniche': 'N',
 'Nhengatu': 'N',
 'Ninam': 'N',
 'Northern Emberá': 'AFF',
 'Panare': 'AFF',
 'Parecís': 'N',
 'Pilagá': 'N',
 'Puinave': 'N',
 'Páez': 'N',
 'Rikbaktsa': 'AFF',
 'Sabanê': 'AFF',
 'Sakirabia': 'N',
 'Sateré-Mawé': 'N',
 'Shipibo-Conibo': 'N',
 'Shuar': 'N',
 'Tapieté': 'N',
 'Tariana': 'CLI',
 'Tehuelche': '?',
 'Trió': 'AFF',
 'Trumai': 'PAR',
 'Tsafiki': 'N',
 'Urarina': 'N',
 'Warao': 'AFF',
 'Wari': 'CLI',
 'Wichí Lhamtés Nocten': 'N',
 'Yaminahua': 'N',
 "Yanesha'": 'N',
 'Yuracaré': 'N'}

In [11]:
#extraemos los valores de dict_present
valores = set(dict_present.values())

In [12]:
valores

{'?', 'AFF', 'CLI', 'N', 'PAR'}

In [13]:
#creamos una lista llamada no_marcación_present que contendrá los keys (es decir, las lenguas) que tengan un value igual a "N"
## empleamos un ciclo for que recorra los keys de dict_present y guarde en la lista aquellos con valor igual a "N"

no_marcacion_present = []

for key in dict_present.keys():
    if dict_present[key] == 'N':
        no_marcacion_present = no_marcacion_present + [key]

In [14]:
#visualizamos la lista anterior
no_marcacion_present[:5]

['Aguaruna', 'Apurinã', 'Arhuaco', 'Awa-Cuaiquer', 'Baure']

In [15]:
#imprimimos el total de elementos de no_marcacion_present para saber el número de lenguas con no marcación
len(no_marcacion_present)

46

In [16]:
#ahora definimos una nueva lista que contenga las lenguas con marcación morfolófica de tiempo presente llamada marcacion_present.
##con un ciclo for buscamos los keys en dict_present que no estén en la lista no_marcacion_present y los guarde en la nueva lista.
###el resultado serán las lenguas que tienen marcas morfológicas.

marcacion_present = []

for key in dict_present:
    if key not in no_marcacion_present:
        marcacion_present = marcacion_present + [key]

In [17]:
#imprimimos la lista anterior
marcacion_present[:5]

['Central Aymara', 'Cubeo', 'Desano', 'Hixkaryána', 'Karitiâna']

In [18]:
#imprimos el largo de la lista anterior  para saber el número de lenguas con marcas morfosintácticas para presente.
len(marcacion_present)

18

# 1.2 Tiempo Pasado

In [19]:
#definimos una lista llamada tiempo_pasado que contendrá la lectura del archivo con los datos de past_tense
tiempo_pasado = pd.read_csv('past_tense.csv',sep=',',encoding='iso-8859-1')

In [20]:
#visualizamos la lista definida anteriormente
tiempo_pasado[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna   AFF       affix  -5.300440 -77.921790    Chicham
1       apu       Apurinã     N          no  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco   AFF       affix  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer   AFF       affix   1.216525 -78.340135  Barbacoan
4       brg         Baure     N          no -13.127750 -64.183810   Arawakan

In [21]:
#visualizamos únicamente dos columnas de past_tense (name y value)
tiempo_pasado[['name','value']][:5]

           name value
0      Aguaruna   AFF
1       Apurinã     N
2       Arhuaco   AFF
3  Awa-Cuaiquer   AFF
4         Baure     N

In [22]:
#definimos una nueva lista llamada value_name_past que contendrá solo las columnas 'name' y 'value'
value_name_past = tiempo_pasado[['name','value']]

In [23]:
value_name_past[:5]

           name value
0      Aguaruna   AFF
1       Apurinã     N
2       Arhuaco   AFF
3  Awa-Cuaiquer   AFF
4         Baure     N

In [24]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
dict_past = dict(zip(value_name_past['name'], value_name_past['value']))

In [25]:
dict_past

{'Aguaruna': 'AFF',
 'Apurinã': 'N',
 'Arhuaco': 'AFF',
 'Awa-Cuaiquer': 'AFF',
 'Baure': 'N',
 'Bora': 'CLI',
 'Bororo': 'N',
 'Canela': 'N',
 'Cavineña': 'AFF',
 'Central Aymara': 'AFF',
 'Chimila': 'N',
 'Cocama-Cocamilla': 'CLI',
 'Cubeo': 'AFF',
 'Cusco Quechua': 'AFF',
 'Desano': 'AFF',
 'Dâw': 'AFF',
 'Emerillon': 'CLI',
 'Hixkaryána': 'AFF',
 'Huallaga Huánuco  Quechua': 'AFF',
 'Hupdë': 'PAR',
 'Imbabura Highland Quichua': 'AFF',
 'Itonama': 'N',
 'Jamamadí': 'AFF',
 'Kaingang': 'N',
 'Kamayurá': 'N',
 'Kanoê': 'PAR',
 'Karitiâna': 'AFF',
 'Karo (Brazil)': 'PAR',
 'Kwaza': 'AFF',
 'Leco': 'AFF',
 'Mamaindé': 'AFF',
 'Mapudungun': 'PAR',
 'Matsés': 'AFF',
 'Mocoví': 'N',
 'Mosetén': 'PAR',
 'Movima': 'PAR',
 'Muniche': 'N',
 'Nhengatu': 'N',
 'Ninam': 'N',
 'Northern Emberá': 'AFF',
 'Panare': 'AFF',
 'Parecís': 'CLI',
 'Pilagá': 'N',
 'Puinave': 'AFF',
 'Páez': 'N',
 'Rikbaktsa': 'AFF',
 'Sabanê': 'AFF',
 'Sakirabia': 'AFF',
 'Sateré-Mawé': 'N',
 'Shipibo-Conibo': 'AFF',
 'Shuar': 'AFF',
 'Tapieté': 'AFF',
 'Tariana': 'CLI',
 'Tehuelche': 'AFF',
 'Trió': 'AFF',
 'Trumai': 'PAR',
 'Tsafiki': 'N',
 'Urarina': 'N',
 'Warao': 'AFF',
 'Wari': 'CLI',
 'Wichí Lhamtés Nocten': 'CLI',
 'Yaminahua': 'AFF',
 "Yanesha'": 'N',
 'Yuracaré': 'N'}

In [26]:
#extraemos los valores de dict_past
valores_past = set(dict_past.values())

In [27]:
valores_past

{'AFF', 'CLI', 'N', 'PAR'}

In [28]:
#creamos una lista llamada no_marcación_past que contendrá los keys (es decir, las lenguas) que tengan un value igual a "N"
## empleamos un ciclo for que recorra los keys de dict_past y guarde en la lista aquellos con valor igual a "N

no_marcacion_past = []

for key in dict_past.keys():
    if dict_past[key] == 'N':
        no_marcacion_past = no_marcacion_past + [key]

In [29]:
#visualizamos la lista definida anteriormente
no_marcacion_past[:5]

['Apurinã', 'Baure', 'Bororo', 'Canela', 'Chimila']

In [30]:
#imprimimos el total de elementos de no_marcacion_past para saber el número de lenguas sin marcas morfosintáctica para pasado.
len(no_marcacion_past)

19

In [31]:
#ahora definimos una nueva lista que contenga las lenguas con marcación morfológica de tiempo pasado llamada marcacion_past.
##con un ciclo for buscamos los keys en dict_past que no estén en la lista no_marcacion_past y los guarde en la nueva lista.
###el resultado serán las lenguas que tienen marcas morfológicas para pasado.

marcacion_past = []

for key in dict_past:
    if key not in no_marcacion_past:
        marcacion_past = marcacion_past + [key]

In [32]:
#imprimimos la lista anterior
marcacion_past[:5]

['Aguaruna', 'Arhuaco', 'Awa-Cuaiquer', 'Bora', 'Cavineña']

In [33]:
#imprimos el largo de la lista anterior  para saber el número de lenguas con marcas morfosintácticas para pasado.
len(marcacion_past)

45

# 1.3 Tiempo Futuro

In [34]:
#definimos una lista llamada tiempo_futuro que contendrá la lectura del archivo con los datos de future_tense
tiempo_futuro = pd.read_csv('future_tense.csv',sep=',',encoding='iso-8859-1')

In [35]:
#visualizamos la lista tiempo_futuro
tiempo_futuro[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna   AFF       affix  -5.300440 -77.921790    Chicham
1       apu       Apurinã   AFF       affix  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco   AFF       affix  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer   AFF       affix   1.216525 -78.340135  Barbacoan
4       brg         Baure     N          no -13.127750 -64.183810   Arawakan

In [36]:
#visualizamos únicamente dos columnas de future_tense (name y value)
tiempo_futuro[['name','value']][:5]

           name value
0      Aguaruna   AFF
1       Apurinã   AFF
2       Arhuaco   AFF
3  Awa-Cuaiquer   AFF
4         Baure     N

In [37]:
#definimos una nueva lista llamada value_name_past que contendrá solo las columnas 'name' y 'value'
value_name_future = tiempo_futuro[['name','value']]

In [38]:
value_name_future[:5]

           name value
0      Aguaruna   AFF
1       Apurinã   AFF
2       Arhuaco   AFF
3  Awa-Cuaiquer   AFF
4         Baure     N

In [39]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
dict_fut = dict(zip(value_name_future['name'], value_name_future['value']))

In [40]:
dict_fut

{'Aguaruna': 'AFF',
 'Apurinã': 'AFF',
 'Arhuaco': 'AFF',
 'Awa-Cuaiquer': 'AFF',
 'Baure': 'N',
 'Bora': 'AFF',
 'Bororo': 'CLI',
 'Canela': 'PAR',
 'Cavineña': 'AFF',
 'Central Aymara': 'AFF',
 'Chimila': 'AFF',
 'Cocama-Cocamilla': 'CLI',
 'Cubeo': 'AFF',
 'Cusco Quechua': 'AFF',
 'Desano': 'AFF',
 'Dâw': 'AFF',
 'Emerillon': 'AFF',
 'Hixkaryána': 'AFF',
 'Huallaga Huánuco Quechua': 'AFF',
 'Hupdë': 'AFF',
 'Imbabura Highland Quichua': 'AFF',
 'Itonama': 'AUX',
 'Jamamadí': 'AFF',
 'Kaingang': 'AFF',
 'Kamayurá': 'PAR',
 'Kanoê': 'AFF',
 'Karitiâna': 'AFF',
 'Karo (Brazil)': 'PAR',
 'Kwaza': 'AFF',
 'Leco': 'AFF',
 'Mamaindé': 'AFF',
 'Mapudungun': 'N',
 'Matsés': 'AFF',
 'Mocoví': 'N',
 'Mosetén': 'CLI',
 'Movima': 'PAR',
 'Muniche': 'AFF',
 'Nhengatu': 'PAR',
 'Ninam': 'N',
 'Northern Emberá': 'AFF',
 'Panare': 'AFF',
 'Parecís': 'PAR',
 'Pilagá': 'N',
 'Puinave': 'AFF',
 'Páez': 'N',
 'Rikbaktsa': 'AFF',
 'Sabanê': 'AFF',
 'Sakirabia': 'PAR',
 'Sateré-Mawé': 'PAR',
 'Shipibo-Conibo': 'AFF',
 'Shuar': 'AFF',
 'Tapieté': 'AFF',
 'Tariana': 'CLI',
 'Tehuelche': 'AFF',
 'Trió': 'AFF',
 'Trumai': 'N',
 'Tsafiki': 'N',
 'Urarina': 'N',
 'Warao': 'AFF',
 'Wari': 'CLI',
 'Wichí Lhamtés Nocten': 'CLI',
 'Yaminahua': 'AFF',
 "Yanesha'": 'CLI',
 'Yuracaré': 'AFF'}

In [41]:
#extraemos los valores de dict_fut
valores_fut = set(dict_fut.values())

In [42]:
valores_fut

{'AFF', 'AUX', 'CLI', 'N', 'PAR'}

In [43]:
#creamos una lista llamada no_marcación_fut que contendrá los keys (es decir, las lenguas) que tengan un value igual a "N"
## empleamos un ciclo for que recorra los keys de dict_fut y guarde en la lista aquellos con valor igual a "N

no_marcacion_fut = []

for key in dict_fut.keys():
    if dict_fut[key] == 'N':
        no_marcacion_fut = no_marcacion_fut + [key]

In [44]:
#visualizamos la lista definida anteriormente
no_marcacion_fut[:5]

['Baure', 'Mapudungun', 'Mocoví', 'Ninam', 'Pilagá']

In [45]:
#imprimimos el total de elementos de no_marcacion_past para saber el número de lenguas sin marcas morfosintáctica para futuro.
len(no_marcacion_fut)

9

In [46]:
#ahora definimos una nueva lista que contenga las lenguas con marcación morfológica de tiempo futuro llamada marcacion_fut.
##con un ciclo for buscamos los keys en dict_fut que no estén en la lista no_marcacion_fut y los guarde en la nueva lista.
###el resultado serán las lenguas que tienen marcas morfológicas para futuro.

marcacion_fut = []

for key in dict_fut:
    if key not in no_marcacion_fut:
        marcacion_fut = marcacion_fut + [key]

In [47]:
#imprimimos la lista anterior
marcacion_fut[:5]

['Aguaruna', 'Apurinã', 'Arhuaco', 'Awa-Cuaiquer', 'Bora']

In [48]:
#imprimos el largo de la lista anterior para saber el número de lenguas con marcas morfosintácticas para futuro.
len(marcacion_fut)

55

In [109]:
#instalamos una librería que nos permitirá hacer tablas
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9
Note: you may need to restart the kernel to use updated packages.

In [110]:
# importamos la función 'tabulate' de la librería instalada
from tabulate import tabulate

In [136]:
#definimos un diccionario para crear nuestra tabla al que llamaremos tabla_tiempo
#creamos keys que serán el encabezado de cada columna con los nombres: 'rasgo', 'presente', 'pasado' y 'futuro'
#asignamos values para cada key. 
#Para rasgo: marcado/no marcado. 
#Para cada rasgo lingüístico de tiempo imprimimos el largo de las listas marcacion_x y no_marcacion_x. 
tabla_tiempo = {'Rasgo': ['Marcado', 'No marcado'], 'Presente': [(len(marcacion_present)), (len(no_marcacion_present))], 'Pasado': [(len(marcacion_past)), (len(no_marcacion_past))], 'Futuro': [(len(marcacion_fut)), (len(no_marcacion_fut))]}

In [137]:
#imprimos la tabla creada
print(tabulate(tabla_tiempo, headers='keys'))

Rasgo         Presente    Pasado    Futuro
----------  ----------  --------  --------
Marcado             18        45        55
No marcado          46        19         9

In [138]:
#asignamos la función 'fancy_grid' para que nuestra tabla tenga bordes internos y externos
print(tabulate(tabla_tiempo, headers='keys', tablefmt='fancy_grid'))

╒════════════╤════════════╤══════════╤══════════╕
│ Rasgo      │   Presente │   Pasado │   Futuro │
╞════════════╪════════════╪══════════╪══════════╡
│ Marcado    │         18 │       45 │       55 │
├────────────┼────────────┼──────────┼──────────┤
│ No marcado │         46 │       19 │        9 │
╘════════════╧════════════╧══════════╧══════════╛

# 2. ASPECTO
La segunda categoría TAM a visualizar es la de aspecto. Se compone de dos rasgos lingüísticos: aspecto perfectivo y aspecto imperfectivo.

# 2.1 Aspecto Perfectivo

In [49]:
#definimos una lista llamada aspecto_perfectivo que contendrá la lectura del archivo con los datos de perfective_aspect
aspecto_perfectivo = pd.read_csv('perfective_aspect.csv',sep=',',encoding='iso-8859-1')

In [50]:
#visualizamos la lista definida anteriormente
aspecto_perfectivo[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna     N          no  -5.300440 -77.921790    Chicham
1       apu       Apurinã   AFF       affix  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco     N          no  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer     N          no   1.216525 -78.340135  Barbacoan
4       brg         Baure   AFF       affix -13.127750 -64.183810   Arawakan

In [51]:
#visualizamos únicamente dos columnas de perfective_aspect (name y value)
aspecto_perfectivo[['name','value']][:5]

           name value
0      Aguaruna     N
1       Apurinã   AFF
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure   AFF

In [52]:
#definimos una nueva lista llamada value_name_perfective que contendrá solo las columnas 'name' y 'value'
value_name_perfective = aspecto_perfectivo[['name','value']]

In [53]:
value_name_perfective[:5]

           name value
0      Aguaruna     N
1       Apurinã   AFF
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure   AFF

In [54]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
dict_PFV = dict(zip(value_name_perfective['name'], value_name_perfective['value']))

In [55]:
dict_PFV

{'Aguaruna': 'N',
 'Apurinã': 'AFF',
 'Arhuaco': 'N',
 'Awa-Cuaiquer': 'N',
 'Baure': 'AFF',
 'Bora': 'AFF',
 'Bororo': 'N',
 'Canela': 'N',
 'Cavineña': 'N',
 'Central Aymara': 'N',
 'Chimila': 'AFF',
 'Cocama-Cocamilla': 'N',
 'Cubeo': 'N',
 'Cusco Quechua': 'AFF',
 'Desano': 'AFF',
 'Dâw': 'AUX',
 'Emerillon': 'N',
 'Hixkaryána': 'AFF',
 'Huallaga': 'AFF',
 'Hupdë': 'AFF',
 'Imbabura Highland Quichua': 'N',
 'Itonama': 'N',
 'Jamamadí': 'N',
 'Kaingang': 'PAR',
 'Kamayurá': 'N',
 'Kanoê': 'N',
 'Karitiâna': 'N',
 'Karo (Brazil)': 'N',
 'Kwaza': 'N',
 'Leco': 'AFF',
 'Mamaindé': 'N',
 'Mapudungun': 'N',
 'Matsés': 'N',
 'Mocoví': 'N',
 'Mosetén': 'N',
 'Movima': 'N',
 'Muniche': 'AFF',
 'Nhengatu': 'CLI',
 'Ninam': 'AFF',
 'Northern Emberá': 'N',
 'Panare': 'AFF',
 'Parecís': 'N',
 'Pilagá': 'N',
 'Puinave': 'N',
 'Páez': 'N',
 'Rikbaktsa': 'N',
 'Sabanê': 'N',
 'Sakirabia': 'N',
 'Sateré-Mawé': 'PAR',
 'Shipibo-Conibo': 'AFF',
 'Shuar': 'AFF',
 'Tapieté': 'N',
 'Tariana': 'N',
 'Tehuelche': 'N',
 'Trió': 'AFF',
 'Trumai': 'AUX',
 'Tsafiki': 'AFF',
 'Urarina': 'N',
 'Warao': 'AFF',
 'Wari': 'N',
 'Wichí Lhamtés Nocten': 'N',
 'Yaminahua': 'AFF',
 "Yanesha'": 'N',
 'Yuracaré': 'AFF'}

In [56]:
#extraemos los valores de dict_perfective
valores_PFV = set(dict_PFV.values())

In [57]:
valores_PFV

{'AFF', 'AUX', 'CLI', 'N', 'PAR'}

In [58]:
#creamos una lista llamada no_marcación_PFV que contendrá los keys (es decir, las lenguas) que tengan un value igual a "N"
## empleamos un ciclo for que recorra los keys de dict_PFV y guarde en la lista aquellos con valor igual a "N
no_marcacion_PFV = []

for key in dict_PFV.keys():
    if dict_PFV[key] == 'N':
        no_marcacion_PFV = no_marcacion_PFV + [key]

In [59]:
#visualizamos la lista definida anteriormente
no_marcacion_PFV[:5]

['Aguaruna', 'Arhuaco', 'Awa-Cuaiquer', 'Bororo', 'Canela']

In [60]:
#imprimimos el total de elementos de no_marcacion_PFV para saber el número de lenguas sin marcas morfosintáctica para aspecto perfectivo.
len(no_marcacion_PFV)

39

In [61]:
#ahora definimos una nueva lista que contenga las lenguas con marcación morfológica de aspecto perfectivo llamada marcacion_PFV.
##con un ciclo for buscamos los keys en dict_fut que no estén en la lista no_marcacion_PFV y los guarde en la nueva lista.
###el resultado serán las lenguas que tienen marcas morfológicas para aspecto perfectivo.

marcacion_PFV = []

for key in dict_PFV:
    if key not in no_marcacion_PFV:
        marcacion_PFV = marcacion_PFV + [key]

In [62]:
#visualizamos la lista definida anteriormente
marcacion_PFV[:5]

['Apurinã', 'Baure', 'Bora', 'Chimila', 'Cusco Quechua']

In [63]:
#imprimimos el total de elementos de marcacion_PFV para saber el número de lenguas con marcas morfosintáctica para aspecto perfectivo.
len(marcacion_PFV)

25

# 2.2 Aspecto Imperfectivo

In [64]:
#definimos una lista llamada aspecto_IMperfectivo que contendrá la lectura del archivo con los datos de imperfective_aspect
aspecto_imperfectivo = pd.read_csv('imperfective_aspect.csv',sep=',',encoding='iso-8859-1')

In [65]:
#visualizamos la lista definida anteriormente
aspecto_imperfectivo[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna   AFF       affix  -5.300440 -77.921790    Chicham
1       apu       Apurinã     N          no  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco     N          no  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer   AFF       affix   1.216525 -78.340135  Barbacoan
4       brg         Baure     N          no -13.127750 -64.183810   Arawakan

In [66]:
#visualizamos únicamente dos columnas de imperfective_aspect (name y value)
aspecto_imperfectivo[['name','value']][:5]

           name value
0      Aguaruna   AFF
1       Apurinã     N
2       Arhuaco     N
3  Awa-Cuaiquer   AFF
4         Baure     N

In [67]:
#definimos una nueva lista llamada value_name_perfective que contendrá solo las columnas 'name' y 'value'
value_name_imperfective = aspecto_imperfectivo[['name','value']]

In [68]:
value_name_imperfective[:5]

           name value
0      Aguaruna   AFF
1       Apurinã     N
2       Arhuaco     N
3  Awa-Cuaiquer   AFF
4         Baure     N

In [69]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
dict_IPFV = dict(zip(value_name_imperfective['name'], value_name_imperfective['value']))

In [70]:
dict_IPFV

{'Aguaruna': 'AFF',
 'Apurinã': 'N',
 'Arhuaco': 'N',
 'Awa-Cuaiquer': 'AFF',
 'Baure': 'N',
 'Bora': 'N',
 'Bororo': 'N',
 'Canela': 'N',
 'Cavineña': 'AFF',
 'Central Aymara': 'N',
 'Chimila': 'AFF',
 'Cocama-Cocamilla': 'N',
 'Cubeo': 'N',
 'Cusco Quechua': '?',
 'Desano': 'N',
 'Dâw': 'N',
 'Emerillon': 'N',
 'Hixkaryána': 'AFF',
 'Huallaga Huánaco Quechua': 'AFF',
 'Hupdë': 'N',
 'Imbabura Highland Quichua': 'N',
 'Itonama': 'N',
 'Jamamadí': 'N',
 'Kaingang': 'PAR',
 'Kamayurá': 'N',
 'Kanoê': 'REP',
 'Karitiâna': 'N',
 'Karo (Brazil)': 'N',
 'Kwaza': 'N',
 'Leco': 'AFF',
 'Mamaindé': 'N',
 'Mapudungun': 'N',
 'Matsés': 'N',
 'Mocoví': 'N',
 'Mosetén': 'N',
 'Movima': 'N',
 'Muniche': 'AFF',
 'Nhengatu': 'CLI',
 'Ninam': 'AFF',
 'Northern Emberá': 'AFF',
 'Panare': 'AFF',
 'Parecís': 'AFF',
 'Pilagá': 'N',
 'Puinave': 'CLI',
 'Páez': 'STEM',
 'Rikbaktsa': 'N',
 'Sabanê': 'N',
 'Sakirabia': 'N',
 'Sateré-Mawé': '?',
 'Shipibo-Conibo': 'AFF',
 'Tapieté': 'N',
 'Tariana': 'N',
 'Tehuelche': 'N',
 'Trió': 'AFF',
 'Trumai': 'N',
 'Tsafiki': 'AFF',
 'Urarina': 'N',
 'Warao': 'N',
 'Wari': 'N',
 'Wichí Lhamtés Nocten': 'AFF',
 'Yaminahua': 'AFF',
 "Yanesha'": 'N',
 'Yuracaré': 'AFF'}

In [71]:
#extraemos los valores de dict_IPFV
valores_IPFV = set(dict_IPFV.values())

In [72]:
#visualizamos los valores
valores_IPFV

{'?', 'AFF', 'CLI', 'N', 'PAR', 'REP', 'STEM'}

In [73]:
#creamos una lista llamada no_marcación_IPFV que contendrá los keys (es decir, las lenguas) que tengan un value igual a "N"
## empleamos un ciclo for que recorra los keys de dict_IPFV y guarde en la lista aquellos con valor igual a "N
no_marcacion_IPFV = []

for key in dict_IPFV.keys():
    if dict_IPFV[key] == 'N':
        no_marcacion_IPFV = no_marcacion_IPFV + [key]

In [74]:
#visualizamos la lista definida anteriormente
no_marcacion_IPFV[:5]

['Apurinã', 'Arhuaco', 'Baure', 'Bora', 'Bororo']

In [75]:
#imprimimos el total de elementos de no_marcacion_iPFV para saber el número de lenguas sin marcas morfosintácticas para aspecto imperfectivo.
len(no_marcacion_IPFV)

38

In [76]:
#ahora definimos una nueva lista que contenga las lenguas con marcación morfológica de aspecto imperfectivo llamada marcacion_IPFV.
##con un ciclo for buscamos los keys en dict_IPFV que no estén en la lista no_marcacion_IPFV y los guarde en la nueva lista.
###el resultado serán las lenguas que tienen marcas morfológicas para aspecto perfectivo.

marcacion_IPFV = []

for key in dict_IPFV:
    if key not in no_marcacion_IPFV:
        marcacion_IPFV = marcacion_IPFV + [key]

In [77]:
##visualizamos la lista definida anteriormente
marcacion_IPFV[:5]

['Aguaruna', 'Awa-Cuaiquer', 'Cavineña', 'Chimila', 'Cusco Quechua']

In [78]:
#imprimimos el total de elementos de marcacion_IPFV para saber el número de lenguas con marcas morfosintáctica para aspecto imperfectivo.
len(marcacion_IPFV)

25

In [139]:
#definimos un diccionario para crear una tabla al que llamaremos tabla_aspecto
#creamos keys que serán el encabezado de cada columna con los nombres: 'rasgo', 'aspecto perfecto' y 'aspecto imperfecto'
#asignamos values para cada key. 
#Para rasgo: marcado/no marcado. 
#Para cada rasgo lingüístico de tiempo imprimimos el largo de las listas marcacion_x y no_marcacion_x. 
tabla_aspecto = {'Rasgo': ['Marcado', 'No marcado'], 'Aspecto Perfectivo': [(len(marcacion_PFV)), (len(no_marcacion_PFV))], 'Aspecto Imperfectivo': [(len(marcacion_IPFV)), (len(no_marcacion_IPFV))]}

In [141]:
#imprimos la tabla creada
print(tabulate(tabla_aspecto, headers='keys'))

Rasgo         Aspecto Perfectivo    Aspecto Imperfectivo
----------  --------------------  ----------------------
Marcado                       25                      25
No marcado                    39                      38

In [143]:
#asignamos la función 'fancy_grid' para que nuestra tabla tenga bordes internos y externos
print(tabulate(tabla_aspecto, headers='keys', tablefmt='fancy_grid'))

╒════════════╤══════════════════════╤════════════════════════╕
│ Rasgo      │   Aspecto Perfectivo │   Aspecto Imperfectivo │
╞════════════╪══════════════════════╪════════════════════════╡
│ Marcado    │                   25 │                     25 │
├────────────┼──────────────────────┼────────────────────────┤
│ No marcado │                   39 │                     38 │
╘════════════╧══════════════════════╧════════════════════════╛

# 3. MODO

In [79]:
#definimos una lista llamada modo_realis que contendrá la lectura del archivo con los datos de realis_mood
modo_realis = pd.read_csv('realis_mood.csv',sep=',',encoding='iso-8859-1')

In [80]:
#visualizamos la lista definida anteriormente
modo_realis[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna     N          no  -5.300440 -77.921790    Chicham
1       apu       Apurinã     N          no  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco     N          no  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer     N          no   1.216525 -78.340135  Barbacoan
4       brg         Baure     N          no -13.127750 -64.183810   Arawakan

In [81]:
#visualizamos únicamente dos columnas de imperfective_aspect (name y value)
modo_realis[['name','value']][:5]

           name value
0      Aguaruna     N
1       Apurinã     N
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure     N

In [82]:
#definimos una nueva lista llamada value_name_REAL que contendrá solo las columnas 'name' y 'value'
value_name_REAL = modo_realis[['name','value']]

In [83]:
value_name_REAL[:5]

           name value
0      Aguaruna     N
1       Apurinã     N
2       Arhuaco     N
3  Awa-Cuaiquer     N
4         Baure     N

In [84]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
dict_REAL = dict(zip(value_name_REAL['name'], value_name_REAL['value']))

In [85]:
dict_REAL

{'Aguaruna': 'N',
 'Apurinã': 'N',
 'Arhuaco': 'N',
 'Awa-Cuaiquer': 'N',
 'Baure': 'N',
 'Bora': 'N',
 'Bororo': 'N',
 'Canela': 'N',
 'Cavineña': 'N',
 'Central Aymara': 'N',
 'Chimila': 'N',
 'Cocama-Cocamilla': 'N',
 'Cubeo': 'N',
 'Cusco Quechua': '?',
 'Desano': 'N',
 'Dâw': 'N',
 'Emerillon': 'N',
 'Hixkaryána': 'N',
 'Huallaga Huánaco Quechua': 'N',
 'Hupdë': 'N',
 'Imbabura Highland Quichua': 'N',
 'Itonama': 'N',
 'Jamamadí': 'N',
 'Kaingang': 'N',
 'Kamayurá': 'N',
 'Kanoê': 'N',
 'Karitiâna': 'N',
 'Karo (Brazil)': 'N',
 'Kwaza': 'N',
 'Leco': 'N',
 'Mamaindé': 'N',
 'Mapudungun': 'N',
 'Matsés': 'N',
 'Mocoví': 'N',
 'Mosetén': 'N',
 'Movima': 'N',
 'Muniche': '?',
 'Nhengatu': 'N',
 'Ninam': 'N',
 'Northern Emberá': 'N',
 'Panare': '?',
 'Parecís': 'N',
 'Pilagá': 'N',
 'Puinave': 'N',
 'Páez': 'N',
 'Rikbaktsa': '?',
 'Sabanê': 'N',
 'Sakirabia': 'N',
 'Sateré-Mawé': 'N',
 'Shipibo-Conibo': 'N',
 'Shuar': '?',
 'Tapieté': 'N',
 'Tariana': 'N',
 'Tehuelche': 'AFF',
 'Trió': 'N',
 'Trumai': 'N',
 'Tsafiki': 'N',
 'Urarina': 'N',
 'Warao': 'N',
 'Wari': 'CLI',
 'Wichí Lhamtés Nocten': 'CLI',
 'Yaminahua': 'N',
 "Yanesha'": 'N',
 'Yuracaré': 'N'}

In [86]:
#extraemos los valores de dict_REAL
valores_REAL = set(dict_REAL.values())

In [87]:
#visualizamos los valores
valores_REAL

{'?', 'AFF', 'CLI', 'N'}

In [88]:
#creamos una lista llamada no_marcación_REAL que contendrá los keys (es decir, las lenguas) que tengan un value igual a "N"
## empleamos un ciclo for que recorra los keys de dict_REAL y guarde en la lista aquellos con valor igual a "N
no_marcacion_REAL = []

for key in dict_REAL.keys():
    if dict_REAL[key] == 'N':
        no_marcacion_REAL = no_marcacion_REAL + [key]

In [89]:
##visualizamos la lista definida anteriormente
no_marcacion_REAL[:5]

['Aguaruna', 'Apurinã', 'Arhuaco', 'Awa-Cuaiquer', 'Baure']

In [90]:
#imprimimos el total de elementos de no_marcacion_REAL para saber el número de lenguas sin marcas morfosintácticas para modo realis.
len(no_marcacion_REAL)

56

In [91]:
#ahora definimos una nueva lista que contenga las lenguas con marcación morfológica de modo realis llamada marcacion_REAL.
##con un ciclo for buscamos los keys en dict_REAL que no estén en la lista no_marcacion_REAL y los guarde en la nueva lista.
###el resultado serán las lenguas que tienen marcas morfológicas para modo realis.
marcacion_REAL = []

for key in dict_REAL:
    if key not in no_marcacion_REAL:
        marcacion_REAL = marcacion_REAL + [key]

In [92]:
##visualizamos la lista definida anteriormente
marcacion_REAL[:5]

['Cusco Quechua', 'Muniche', 'Panare', 'Rikbaktsa', 'Shuar']

In [93]:
#imprimimos el total de elementos de marcacion_REAL para saber el número de lenguas con marcas morfosintáctica para modo realis.
len(marcacion_REAL)

8

# 3.2 MODO IRREALIS

In [94]:
#definimos una lista llamada modo_irrealis que contendrá la lectura del archivo con los datos de irrealis_mood
modo_irrealis = pd.read_csv('irrealis_mood.csv',sep=',',encoding='iso-8859-1')

In [95]:
#visualizamos la lista definida anteriormente
modo_irrealis[:5]

  iso-639-3          name value description   latitude  longitude     family
0       agr      Aguaruna     N          no  -5.300440 -77.921790    Chicham
1       apu       Apurinã   AFF       affix  -8.216920 -66.771410   Arawakan
2       arh       Arhuaco     N          no  10.701840 -73.636290   Chibchan
3       kwi  Awa-Cuaiquer   PAR    particle   1.216525 -78.340135  Barbacoan
4       brg         Baure   AFF       affix -13.127750 -64.183810   Arawakan

In [96]:
#visualizamos únicamente dos columnas de irrealis_mood (name y value)
modo_irrealis[['name','value']][:5]

           name value
0      Aguaruna     N
1       Apurinã   AFF
2       Arhuaco     N
3  Awa-Cuaiquer   PAR
4         Baure   AFF

In [97]:
#definimos una nueva lista llamada value_name_IRR que contendrá solo las columnas 'name' y 'value'
value_name_IRR = modo_irrealis[['name','value']]

In [98]:
value_name_IRR[:5]

           name value
0      Aguaruna     N
1       Apurinã   AFF
2       Arhuaco     N
3  Awa-Cuaiquer   PAR
4         Baure   AFF

In [99]:
#creamos un diccionario con las columnas 'name' y 'value'. Name=keys y value=values.
dict_IRR = dict(zip(value_name_IRR['name'], value_name_IRR['value']))

In [100]:
dict_IRR

{'Aguaruna': 'N',
 'Apurinã': 'AFF',
 'Arhuaco': 'N',
 'Awa-Cuaiquer': 'PAR',
 'Baure': 'AFF',
 'Bora': 'N',
 'Bororo': 'AFF',
 'Canela': 'PAR',
 'Cavineña': 'N',
 'Central Aymara': 'N',
 'Chimila': 'N',
 'Cocama-Cocamilla': 'N',
 'Cubeo': 'AFF',
 'Cusco Quechua': 'AFF',
 'Desano': 'N',
 'Dâw': 'N',
 'Emerillon': 'PAR',
 'Hixkaryána': 'N',
 'Huallaga Huánaco Quechua': 'AFF',
 'Hupdë': 'N',
 'Imbabura Highland Quichua': 'AFF',
 'Itonama': 'N',
 'Jamamadí': 'AFF',
 'Kaingang': 'N',
 'Kamayurá': 'PAR',
 'Kanoê': 'N',
 'Karitiâna': 'AFF',
 'Karo (Brazil)': 'N',
 'Kwaza': 'AFF',
 'Leco': 'N',
 'Mamaindé': 'AFF',
 'Mapudungun': 'AFF',
 'Matsés': 'N',
 'Mocoví': 'N',
 'Mosetén': 'AFF',
 'Movima': 'N',
 'Muniche': 'N',
 'Nhengatu': 'N',
 'Ninam': 'N',
 'Northern Emberá': 'N',
 'Panare': 'AFF',
 'Parecís': 'CLI',
 'Pilagá': 'N',
 'Puinave': 'N',
 'Páez': 'N',
 'Rikbaktsa': '?',
 'Sabanê': 'N',
 'Sakirabia': 'PAR',
 'Sateré-Mawé': 'N',
 'Shipibo-Conibo': 'N',
 'Shuar': '?',
 'Tapieté': 'N',
 'Tariana': 'N',
 'Tehuelche': 'AFF',
 'Trió': 'PAR',
 'Trumai': 'N',
 'Tsafiki': 'AFF',
 'Urarina': 'AFF',
 'Warao': 'AFF',
 'Wari': 'CLI',
 'Wichí Lhamtés Nocten': 'CLI',
 'Yaminahua': 'N',
 "Yanesha'": 'N',
 'Yuracaré': 'CLI'}

In [101]:
#extraemos los valores de dict_IRR
valores_IRR = set(dict_IRR.values())

In [102]:
#visualizamos los valores
valores_IRR

{'?', 'AFF', 'CLI', 'N', 'PAR'}

In [103]:
#creamos una lista llamada no_marcación_IRR que contendrá los keys (es decir, las lenguas) que tengan un value igual a "N"
## empleamos un ciclo for que recorra los keys de dict_IRR y guarde en la lista aquellos con valor igual a "N
no_marcacion_IRR = []

for key in dict_IRR.keys():
    if dict_IRR[key] == 'N':
        no_marcacion_IRR = no_marcacion_IRR + [key]

In [104]:
##visualizamos la lista definida anteriormente
no_marcacion_IRR[:5]

['Aguaruna', 'Arhuaco', 'Bora', 'Cavineña', 'Central Aymara']

In [105]:
#imprimimos el total de elementos de no_marcacion_IRR para saber el número de lenguas sin marcas morfosintácticas para modo irrealis.
len(no_marcacion_IRR)

34

In [106]:
#ahora definimos una nueva lista que contenga las lenguas con marcación morfológica de modo irrealis llamada marcacion_IRR.
##con un ciclo for buscamos los keys en dict_IRR que no estén en la lista no_marcacion_IRR y los guarde en la nueva lista.
###el resultado serán las lenguas que tienen marcas morfológicas para modo irrealis.
marcacion_IRR = []

for key in dict_IRR:
    if key not in no_marcacion_IRR:
        marcacion_IRR = marcacion_IRR + [key]

In [107]:
#visualizamos la lista definida anteriormente
marcacion_IRR[:5]

['Apurinã', 'Awa-Cuaiquer', 'Baure', 'Bororo', 'Canela']

In [108]:
#imprimimos el total de elementos de marcacion_IRR para saber el número de lenguas con marcas morfosintáctica para modo irrealis.
len(marcacion_IRR)

30

In [146]:
#definimos un diccionario para crear una tabla al que llamaremos tabla_modo
#creamos keys que serán el encabezado de cada columna con los nombres: 'rasgo', 'modo realis' y 'modo irrealis'
#asignamos values para cada key. 
#Para rasgo: marcado/no marcado. 
#Para cada rasgo lingüístico de tiempo imprimimos el largo de las listas marcacion_x y no_marcacion_x. 
tabla_modo = {'Rasgo': ['Marcado', 'No marcado'], 'Modo realis': [(len(marcacion_REAL)), (len(no_marcacion_REAL))], 'Modo irrealis': [(len(marcacion_IRR)), (len(no_marcacion_IRR))]}

In [147]:
#imprimos la tabla creada
print(tabulate(tabla_modo, headers='keys'))

Rasgo         Modo realis    Modo irrealis
----------  -------------  ---------------
Marcado                 8               30
No marcado             56               34

In [149]:
#asignamos la función 'fancy_grid' para que nuestra tabla tenga bordes internos y externos
print(tabulate(tabla_modo, headers='keys', tablefmt='fancy_grid'))

╒════════════╤═══════════════╤═════════════════╕
│ Rasgo      │   Modo realis │   Modo irrealis │
╞════════════╪═══════════════╪═════════════════╡
│ Marcado    │             8 │              30 │
├────────────┼───────────────┼─────────────────┤
│ No marcado │            56 │              34 │
╘════════════╧═══════════════╧═════════════════╛